@font-face {
  font-family: 'YekanBakh';
  src: url("/store/fonts/YekanBakhFaNum-VF.woff") format("woff"),
    url("/store/fonts/YekanBakhFaNum-VF.woff2") format("woff2");

  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./fonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
    url("./fonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
